{%extends 'base.html'%}

{%block content%}
    {% for obj in object%}
        <div class="con">
            {{obj.id}} - <a href="{% url 'detail' id=obj.id %}">{{obj.About}}</a>
            
            <ul>
                <h4>Ingredient</h4>
                <li>{{obj.Ingredient|linebreaks}}</li>
            </ul>
            <h4 style="margin-top: 40px;">Preperation Method</h4>
            <p>{{obj.Preperation|linebreaks}}</p>
    
        </div>
    {%endfor%}

    <style>
        .con{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        body{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
            line-height: 20px;
        }
    </style>
{%endblock content%}